In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#Set notebook preferences
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [5]:
#Load modules
os.chdir('/Users/ksharma/Documents/ML Engineer/Machine Learning/Projects/paysim_credit_fraud_analysis/')
from src.data.import_export_data import load_config

#Import data
path= r'/Users/ksharma/Documents/ML Engineer/Machine Learning/Projects/paysim_credit_fraud_analysis/'
config_name= 'config.yaml'

config= load_config(config_name= config_name, path=path)

dtypes= {'isFraud':'bool', 'step':'object'}
rawData= pd.read_csv(config['paths']['cleanedData'] + 'processedData.csv', dtype= dtypes, index_col= [0])

**Data Overview**

In [6]:
display(rawData.shape)
display(rawData.head())

(6362620, 6)

     amount  isFraud  oldbalanceDest  oldbalanceOrg step      type
0  9839.640    False           0.000     170136.000    1   PAYMENT
1  1864.280    False           0.000      21249.000    1   PAYMENT
2   181.000     True           0.000        181.000    1  TRANSFER
3   181.000     True       21182.000        181.000    1  CASH_OUT
4 11668.140    False           0.000      41554.000    1   PAYMENT

In [7]:
rawData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6362620 entries, 0 to 6362619
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   amount          float64
 1   isFraud         bool
 2   oldbalanceDest  float64
 3   oldbalanceOrg   float64
 4   step            object
 5   type            object
dtypes: bool(1), float64(3), object(2)
memory usage: 297.3+ MB

**Preprocess Data**

In [11]:
#seperate target from data
X= rawData.drop(columns= 'isFraud', axis= 1)
y= rawData.loc[:, 'isFraud']

0          False
1          False
2           True
3           True
4          False
           ...
6362615     True
6362616     True
6362617     True
6362618     True
6362619     True
Name: isFraud, Length: 6362620, dtype: bool

In [9]:
#subset numeric features
numeric_features= list(X.select_dtypes(include='float64').columns)
numeric_features

['amount', 'oldbalanceDest', 'oldbalanceOrg']

In [12]:
#subset categorical features
cat_features= list(X.select_dtypes(exclude='float64').columns)
cat_features

['step', 'type']